/* styles.css */
/* styles.css */

body {
  background-color: #f8f9fa; /* Fundo mais claro */
}

.container {
  max-width: 960px; /* Largura máxima do container menor do que o padrão do Bootstrap */
}

/* Adicione mais estilos conforme necessário */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Cinza claro para o fundo */
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
}

nav {
  background-color: #eee;
  padding: 0.5em;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
}

section {
  padding: 20px;
  background-color: #fff; /* Fundo branco para as seções */
  border: 1px solid #9b9090; /* Borda cinza claro para separar as seções */
  margin: 10px;
  border-radius: 5px; /* Cantos arredondados */
}

/* Adicione mais estilos conforme necessário */
